@font-face {
    font-family: Tuesday Night; 
    src: url(TuesdayNight-Regular.otf); 
   }


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poiret One', cursive;
    color: black;
}

main {
    overflow: hidden;
}

nav {
    position: fixed;
    background-color: white;
    margin: 0;
    width: 100%;
    top: 0;
    padding: 0;
    height: 90px;
    box-shadow: 0 1px 1px rgb(240, 240, 240);
    }

#navbar {
    -webkit-transition: height 0.4s cubic-bezier(0, 0.1, 0, 1.5);
    transition: height 0.4s cubic-bezier(0, 0.1, 0, 1.5);
}

#logowrapper1 {
    margin-top: -20px;
    top: 0;
    display: block;
}

#title {
    text-align: center;
}

h1 {
    font-family: 'Tuesday Night';
    font-weight: lighter;
    font-size: 2.3em;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1.1em;
}

#leftwrapper {
    margin-top: -10px;
    margin-bottom: 10px;
    padding-top: 0;
    max-height: 184px;
}

#right-menu {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 0px;
}

#right-menu a {
    padding: 0.7em 2em 0.7em 2em;
    background-color: black;
    color: white;  
}

#cart:hover {
    border: 1px rgb(250, 0, 94);
    background-color: rgb(250, 0, 94);
    color: white;
}

.buttonwrapper {
    float: right;
    position: fixed;
    top: 30px;
    right: 20px;
}
#hamburger {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    transition: all cubic-bezier(0.58, 0.32, 0.4, 1.54) 0.4s;
    -webkit-transition: all cubic-bezier(0.58, 0.32, 0.4, 1.54) 0.4s;
}

.line1 {
    top: 20%;
}

.line2 {
    top: 50%;
}

.line3 {
    top: 82%;
}

.openedhamburger .line1 {
    transform: rotate(45deg);
    top: 50%;
}

.openedhamburger .line2, .openedhamburger .line3 {
    transform: rotate(-45deg);
    top: 50%;
}

.closedmenu {
    display: none;
}

i {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

h2, h3, h4 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

h3 {
    font-size: 25px;
}

p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-size: 22px;
}

#showcase {
    min-height: 640px;
    color: white;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: url('Каталог/073-min.jpg') black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    z-index: -1;
}

#showcase h2 {
    padding-top: 120px;
    padding-bottom: 0;
    font-size: 30px;
}

#line {
    background-color: white;
    width: 150px;
    height: 1px;
    margin: 50px auto 20px auto ;
}

#showcase p {
    font-size: 26px;
}

#showcase .content-wrap {
    padding: 0 1.2em;
}


@keyframes fadein {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.openedmenu {
    animation: fadein 0.5s ease;
}

.list {
    list-style: none;
    text-align: center;
    display: inline;
    padding-left: 10px;
}

.list-item {
    padding: 8px 4px;
    display: block;
    
}    

.list-item a {
    position: relative;
}

.list-item a::before {
    position: absolute;
    content: '';
    width: 110%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: -5%;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
    -webkit-transition: transform 0.4s ease-out;
}  

.list-item a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}  

iframe {
    width: 100%;
}

header {
    margin-top: 60px;
}

.content-title {
    font-size: 30px;
}

.advantages-text {
    width: 300px;
    text-align: center;
    margin: auto;
}

#section-b * {
    padding: 0;
    box-sizing: border-box;
    margin: 3px;
  }

#section-b .content-title {
    margin: 50px 0 40px 0;
}

#section-b .content-wrap {
    margin: auto;
    width: 90%; 
}

#catalog {
    margin: 0 4%;
    width: 100%;
}

.itemcard {
    margin-bottom: 10px;
    width: 90%;
    height: auto;
    display: inline-block;
}

.item-img {
    height: auto;
    width: 100%;
    display: block;      
    cursor: pointer;
}

.color-list-container {
    width: 100%;
}

.color-list {
    display: block;
    width: 14em;
    margin: auto !important;
}

.square {
    display: inline-block;
    border-radius: 15%;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

div.square:hover {
    box-shadow: 0 0 10px #8f8f8f;
}

#violet {
    background-color: #75408a;
}

#green {
    background-color: #005977;
}

#pink {
    background-color: #D9005B;
}

#bordo {
    background-color: #56313C;
}

#purple {
    background-color: #A1719F;
}

#blue {
    background-color: #1D4470;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal-content {
    background-color: white;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 0.5s;
}

.modal-img {
    height: auto;
    width: 100%;
    display: block;      
    cursor: pointer;
}

.closeBtn {
    font-size: 60px;
    float: right;
}

.closeBtn:hover {
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes modalclose {
    from{opacity: 1;}
    to{opacity: 0;}
}

.item-details {
    text-align: left;
    margin: 10px;
}
.add-to-cart {
    display: block;
    margin: 20px auto;
    padding: 1em 2em 1em 2em;
    text-align: center;
    width: 250px;
    background-color: white;
    color: black;  
    border: 1px solid #8f8f8f;
    font-family: 'Poiret One';
    font-size: 1.1em;
    cursor: pointer;
}

.add-to-cart:hover {
    border: 1px solid rgb(250, 0, 94);
    background-color: rgb(250, 0, 94);
    color: white;
}

#section-c, #section-e {
    background-color: #F0F0F0;
}

.content-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#line4 {
    background-color: rgb(250, 0, 94);
    width: 100px;
    height: 2px;
    margin: 15px auto 20px auto ;
}

#section-c {
    padding: 30px 15px 40px 15px;
}

#section-e p {
    padding: 20px 5%;
}

#section-e input, #section-e textarea {
    font-family:  'Poiret One', cursive;
    font-size: 18px;
}

.form-inputbox {
    margin: auto;
    width: 90%;
    margin-bottom: 25px;
}

input[type=text] {
    width: 100%;
    height: 60px;
    background-color: #F0F0F0;
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
}

textarea {
    width: 100%;
    height: 102px;
    background-color: #F0F0F0;
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
} 

input[type=submit] {
    border: 1px black;
    border-radius: 7px;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    -webkit-appearance: none;
    -webkit-border-radius: 7px;
    -moz-appearance: none;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 1px rgb(250, 0, 94);
    background-color: rgb(250, 0, 94);
    color: white;
}

#warning {
    font-size: 14px;
}

.socialnetw-container {
    padding: 0 20px 0 20px;
    margin-top: 50px;
    display: block;
}

#section-f .content-wrap {
    display: block;
    margin: auto;
}

#section-f h2 {
    padding-top: 0;
}

#section-f ul {
    text-align: center;
}

#section-f .social-icons  {
    width: 56px;
    margin: 0 5px 0 5px;
    display: inline-block;
}

#main-footer {
    margin-bottom: 20px;
}

#footer-menu ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-menu li {
    text-decoration: none;
    display: inline-block;
}

#footer-menu a {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    
}


#cart-table-wrapper h2 {
    padding-top: 5em;
}

table {
    padding-top: 20px;
    width: 96%;
    margin: auto;
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

td img {
    height: 250px;
    width: 167px;
}


td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin: 0;
    
}

td p {
    font-size: 18px;
    padding: 10px 0;
}

.times {
    font-size: 2em;

}

tr:hover {background-color: #f5f5f5;}

#total {
    margin-right: 21%;
    text-align: right;
    font-weight: bolder;
}

#delivery {
    background-color: #f0f0f0;
}

#city-choice {
    display: block;
    width: 270px;
    margin: 0 auto 30px auto;
}

.city-button {
    display: inline-block;
    margin: 10px;
}

.city-button button {
    padding: 1em 2em 1em 2em;
    display: inline-block;
    text-align: center;
    width: 250px;
    background-color: #f0f0f0;
    color: black;  
    border: 1px solid #8f8f8f;
    font-family: 'Poiret One';
    font-size: 1.1em;
    cursor: pointer;
}

.city-link:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

#delivery input, #delivery textarea {
    font-family:  'Poiret One';
    font-size: 18px;
}

@media(min-width: 490px) {
   
    .advantages-text {
        width: 280px;
        text-align: center;
        margin: auto;
    }

    #catalog {
        width: 96%;
        margin: 0 2%;
    }
    #catalog li {
        width: 45%;
        display: inline-block;
        margin: 2%;
    }

    #section-b .content-wrap {
        width: 100%;
    }

    .itemcard {
        width: 100%;
    }

    .item-img {
        width: 100%;
        padding: 5px 15px;
        cursor: pointer;
    }

    .form-inputbox, textarea {
        width: 560px;
    }

    #city-choice {
        width: 550px;
    }

}

@media(min-width: 850px) {

    #navbar {
        height: 90px;
    }

    .closedmenu {
        opacity: 100;
    }

    .buttonwrapper {
        display: none;
    }

    #leftwrapper {
        display: block;
        position: absolute;
        margin-top: 30px;
        margin-left: 15px;
        width: 40%;
    }

    #left-menu {
        margin: auto;
        width: 90%;
    }

    .list-item {
        display: inline-block;
        margin-right: 4%;
    }
    
    .list-item a {        
        padding: 0;
    }
        
    #logowrapper1 {
        top: 0;
        display: inline-block;
        position: absolute;
        left: 50%;
    }
    
    #logowrapper2 {
        position: relative;
        left: -50%;
    }

    #right-menu {
        width: 135px;
        height: 45px;
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .grid #section-a, .grid #section-d {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap, .content-title {
        grid-column: 1/5;
    }

    #section-a ul, #section-d ul {
        display: flex;
    }

    #section-a li, #section-d li {
        width: 33%;
    }

    #catalog {
        width: 100%;
        margin: 0 1.3%;
    }
    #catalog li {
        width: 30%;
        display: inline-block;
        margin: 1%;
    }

    #section-b .content-wrap {
        width: 100%;
    }

    .itemcard {
        width: 100%;
    }

    .item-img {
        width: 100%;
        padding: 5px 15px;
        cursor: pointer;
    }

    #section-c {
        padding: 30px 15px 40px 15px;
    }
 
    .modal-img {
        height: auto;
        margin: auto;
        width: 60%;
        display: block;      
        cursor: pointer;
    }
}



